The verification link you clicked is not valid.
<br /><br />
Your email address ({{ email.email}}) has not been verified.
<br /><br />
<a href="{{ email.continueUrl }}">Click here to go back to {{ app.request.host }}</a>.
